In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("2023_census_school_finance_data.csv")

In [4]:
df.head()

,STATE,PID6,UNIT_TYPE,FIPST,NAME,CONUM,CSA,CBSA,SCHLEV,NCESID,...,PPSALWG,PPEMPBEN,PPITOTAL,PPISALWG,PPIEMBEN,PPSTOTAL,PPSPUPIL,PPSSTAFF,PPSGENAD,PPSSCHAD
0,1,100191,5,1,BALDWIN COUNTY SCHOOL DISTRICT,1003,380,19300,3,0100270,...,7349.0,2589.0,7544.0,4811.0,1654.0,4915.0,798.0,597.0,198.0,819.0
1,1,100192,5,1,ONEONTA CITY SCHOOL DISTRICT,1009,142,13820,3,0102550,...,6515.0,2311.0,6962.0,4411.0,1520.0,4019.0,728.0,581.0,433.0,700.0
2,1,100193,5,1,PIEDMONT CITY SCHOOL DISTRICT,1015,N,11500,3,0102760,...,6813.0,2333.0,6798.0,4610.0,1559.0,3868.0,796.0,452.0,762.0,691.0
3,1,100194,5,1,CHOCTAW COUNTY SCHOOL DISTRICT,1023,N,N,3,0100690,...,8533.0,3272.0,6965.0,4442.0,1628.0,8861.0,1336.0,1802.0,1058.0,851.0
4,1,100195,5,1,COOSA COUNTY SCHOOL DISTRICT,1037,388,10760,3,0100900,...,7901.0,3070.0,7320.0,4292.0,1598.0,6932.0,1130.0,761.0,825.0,901.0

In [5]:
df.columns

Index(['STATE', 'PID6', 'UNIT_TYPE', 'FIPST', 'NAME', 'CONUM', 'CSA', 'CBSA',
       'SCHLEV', 'NCESID', 'YRDATA', 'ENROLL', 'TOTALREV', 'TFEDREV',
       'FEDRCOMP', 'FEDRSPEC', 'FEDRNUTR', 'FEDROTHR', 'TSTREV', 'STRFORM',
       'STRSPEC', 'STRTRANS', 'STROTHR', 'TLOCREV', 'LOCRTAX', 'LOCRPROP',
       'LOCRPAR', 'LOCRCICO', 'LOCROSCH', 'LOCRCHAR', 'LOCROTHR', 'TOTALEXP',
       'TCURSPND', 'TSALWAGE', 'TEMPBENE', 'TCURINST', 'TCURISAL', 'TCURIBEN',
       'TCURSSVC', 'TCURSPUP', 'TCURSSTA', 'TCURSGEN', 'TCURSSCH', 'TCURSOTH',
       'TCURONON', 'TCAPOUT', 'TPAYOTH', 'TINTRST', 'DEBTOUT', 'LONGISSU',
       'LONGRET', 'PCTTOTAL', 'PCTFTOT', 'PCTFCOMP', 'PCTSTOT', 'PCTSFORM',
       'PCTLTOT', 'PCTLTAXP', 'PCTLOTHG', 'PCTLCHAR', 'PPCSTOT', 'PPSALWG',
       'PPEMPBEN', 'PPITOTAL', 'PPISALWG', 'PPIEMBEN', 'PPSTOTAL', 'PPSPUPIL',
       'PPSSTAFF', 'PPSGENAD', 'PPSSCHAD'],
      dtype='object')

In [ ]:
"""
OK, so first, I need to filter by FIPST which is the Federal 
Information Processing Standards State Code. The FIPST for New Jersey is 34.

Next, I want to filter out by school level = 3, which is elementary-secondary.
"""

df = df[(df['FIPST'] == 34) & (df['SCHLEV'] == 3)]

df.head()

,STATE,PID6,UNIT_TYPE,FIPST,NAME,CONUM,CSA,CBSA,SCHLEV,NCESID,...,PPSALWG,PPEMPBEN,PPITOTAL,PPISALWG,PPIEMBEN,PPSTOTAL,PPSPUPIL,PPSSTAFF,PPSGENAD,PPSSCHAD
7787,31,109097,2,34,TRENTON SCHOOL DISTRICT,34021,408,45940,3,3416290,...,9258.0,6114.0,13164.0,5864.0,4201.0,9440.0,2647.0,707.0,205.0,1386.0
7794,31,109254,5,34,FAIR LAWN SCH DIST,34003,408,35620,3,3404980,...,12294.0,7090.0,14105.0,8219.0,4914.0,8303.0,2981.0,593.0,188.0,1283.0
7795,31,109255,5,34,HASBROUCK HEIGHTS BORO SCHOOL DIST,34003,408,35620,3,3406930,...,12228.0,7563.0,14601.0,7999.0,5189.0,8637.0,3257.0,639.0,448.0,1196.0
7796,31,109256,5,34,MIDLAND PARK SCH DIST,34003,408,35620,3,3410140,...,17075.0,11063.0,19822.0,10479.0,7254.0,11857.0,3742.0,1101.0,749.0,2022.0
7798,31,109258,5,34,PARK RIDGE BORO SCH DIST,34003,408,35620,3,3412450,...,16763.0,10873.0,17894.0,10098.0,6678.0,12744.0,5252.0,2139.0,599.0,1472.0

In [ ]:
""" 
Now, that you have the data filtered, let's trim down the dataset so we only
include the columns we need, which are:

The X-Axis: Local Tax Revenue per Student You need to combine the two 
"buckets" we discussed (Type 1 & Type 2) and divide by students.

Property Tax (Type 2 / Suburbs): Use LOCRPROP.

(This stands for "Local Revenue - Property Tax")

Parent Govt Contribution (Type 1 / Cities): Use LOCRPAR.

(This stands for "Local Revenue - Parent Government")

Students: Use ENROLL.

Your X-Axis Formula: (df['LOCRPROP'] + df['LOCRPAR']) / df['ENROLL']

The Y-Axis: Spending per Student Your dataset actually has this pre-calculated! You don't need to do the math yourself.

Spending Variable: Use PPCSTOT.

(This stands for "Per Pupil Current Spending - Total")
"""

" \nNow, that you have the data filtered, let's trim down the dataset so we only\ninclude the columns we need, which are :\n"

In [12]:
df = df[[
    'FIPST',
    'NAME',
    'SCHLEV',
    'LOCRPROP',
    'LOCRPAR',
    'ENROLL'
]]

In [14]:
df.head()

,FIPST,NAME,SCHLEV,LOCRPROP,LOCRPAR,ENROLL
7787,34,TRENTON SCHOOL DISTRICT,3,0,25433,14852
7794,34,FAIR LAWN SCH DIST,3,97245,0,5529
7795,34,HASBROUCK HEIGHTS BORO SCHOOL DIST,3,32807,0,1744
7796,34,MIDLAND PARK SCH DIST,3,24781,0,883
7798,34,PARK RIDGE BORO SCH DIST,3,32416,0,1208

In [16]:
df.shape

(222, 6)

In [17]:
df['Local Tax Revenue per Student'] = df[(df['LOCRPROP'] + df['LOCRPAR']) / df['ENROLL']]

KeyError: "None of [Index([1.7124293024508483, 17.588171459576778, 18.811353211009173,\n       28.064552661381654, 26.834437086092716, 18.830124167716395,\n       20.805153991200502, 13.189824561403508,  4.571783295711061,\n        9.177506213753107,\n       ...\n        2.851866404715128, 10.655388010297903, 14.441529343740966,\n        8.754962354551678,  19.66013071895425, 3.6447884416924663,\n                      0.0,                0.0,                0.0,\n        25.36517533252721],\n      dtype='float64', length=222)] are in the [columns]"